<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div>
      <a href="/drones"> Show all drones</a>
</div>

<img src="https://images-na.ssl-images-amazon.com/images/I/61H6sByGqbL._AC_SL1500_.jpg" alt="Girl in a jacket" width="500" height="600">